DATABASE_URL="postgresql://user:password@host:5432/devlevel?sslmode=require"
AUTH_SECRET="your-secret-at-least-32-chars-long-here"
AUTH_URL="http://localhost:3000"
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
